<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>202858748351-kb1h9p6jlgefql228h11osl0kiik6tle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202858748351-kb1h9p6jlgefql228h11osl0kiik6tle</string>
	<key>API_KEY</key>
	<string>AIzaSyAkoDlDPed_kh3unce4l-cy__VUEg70HtE</string>
	<key>GCM_SENDER_ID</key>
	<string>202858748351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carmatenz.staging</string>
	<key>PROJECT_ID</key>
	<string>carmate-staging-146521</string>
	<key>STORAGE_BUCKET</key>
	<string>carmate-staging-146521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202858748351:ios:0c3ebf8847ec8f57</string>
	<key>DATABASE_URL</key>
	<string>https://carmate-staging-146521.firebaseio.com</string>
</dict>
</plist>